# Database
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5433
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# MinerU
MINERU_API_URL="https://mineru.net/api/v4"
MINERU_API_KEY=
MINERU_TIMEOUT=30

# Minio
MINIO_HOST=127.0.0.1
MINIO_PORT=9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
